{% load static %}
<!doctype html>
<html lang="en">
  <head>
   
    <title>Your Expenses</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tablestyle.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static '/images/raashid.png' %}" type="image/png" alt="My image">
  </head>

<body>
    <a href="{% url 'add_expenses' %}">Add Your Daily Expenses</a>&nbsp&nbsp&nbsp
    <a href="{% url 'logout' %}">Logout</a>

<table>
  <tr>
    <th>DATE</th>
    <th>ITEM</th>
    <th>RATE</th>
    <th>Category</th>
    <th>VENDOR</th>
    
  </tr>
  {% for p in keypassword %}
  <tr>
    <td>{{p.dbdate}}</td>
    <td>{{p.dbinvest}}</td>
    {% comment %} <td>{{p.dbamount}}</td> {% endcomment %}
    {% if p.dbamount <= 100 %}
    <td style="color:red; font-weight:700;">{{p.dbamount}} </td>
    {% endif %}
   {% if p.dbamount > 100 %}
    <td style="color:darkred; font-weight:bolder; ">{{p.dbamount}} </td>
    {% endif %}
    <td>{{p.dbplace}}</td>
    <td>{{p.dbshopname}}</td>
    
    
  </tr>
  {% endfor %}
  <tr>
   <td>

    </td>
    <td style="text-align: right;">
    Total
    </td>
    <td style="color:green; font-weight:bolder; ">
  
    {{alltotal}}
    </td>

   
    <td>

    </td>
    <td>

    </td>
  </tr>
  </table>
<br>
<footer style="text-align: center; color:#022455;font-family: 'Caveat', cursive;
font-weight:bolder;">Designed By : RAASHID</footer>
</body>
</html>
