{% load static %}
<html>
<head>
<title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'loginstyle.css' %}">
<body>
    <div class="loginbox">
    <img src="{% static '/images/avatar.png' %}" class="avatar">
        <h1>Login Here</h1>
        <form method="POST">  {% csrf_token %}
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit" name="" value="Login">
            <a href="/accounts/login/signup.html">Lost your password?</a><br>
            <a href="#">Don't have an account?</a>
        </form>
        
    </div>

</body>
</head>
</html>