{% load static %}
<html>
<head>
<title>Sign-up</title>
    <link rel="stylesheet" type="text/css" href="{% static 'loginstyle.css' %}">
<body>
    <div class="loginbox">
    <img src="{% static '/images/avatar.png' %}" class="avatar">
        <h1>Sign up </h1>
        <form action ='/signup' method="POST">  {% csrf_token %}
            <p>Username</p>
            <input type="text" name="username" required placeholder="Enter Username">
            <p>Password (6 characters minimum):</p>
            <input type="password" name="password"  minlength="6" required placeholder="Enter Password">
            <button type="submit">Sign up</button>
            
       
        </form>
        
    </div>

</body>
</head>
</html>